<div class="Background_color">
    <br>
    <!-- Form  -->
    <form #textRepeaterForm="ngForm">
        <!-- Type input -->
        <div class="form-floating mb-3">
            <input class="form-control" id="TypingText" type="text" [(ngModel)]="userInput" name="userInput" />
            <label for="TypingText" style="font-size: large; font-weight: normal; text-align: center;">စာသားထည့်သွင်းပါ</label>
        </div>

        <!-- Count time input -->
        <div class="form-floating mb-3">
            <input class="form-control" id="CountingTime" type="number" [(ngModel)]="repeatCount" name="repeatCount" />
            <label for="CountingTime" style="font-size: large; font-weight: normal; text-align: center;">အကြိမ်အရေတွက်ရိုက်ထည့်ပါ</label>
        </div>

        <br>
        
        <!-- <label class="IsCheck">
            <input type="checkbox" [(ngModel)]="isChecked" /> No ဖြင့်ထုတ်မည်
        </label> -->

        <!-- Check with_number or without_number -->
        <button class="buttons btn btn-primary" style="background-color: rgb(247, 87, 114);" (click)="checkDisplay()">{{ displayCheck }}</button>

        <!-- Check With width or length -->
        <button class="buttons btn btn-primary" style="background-color: rgb(247, 87, 114);" (click)="toggleDisplay()">{{ displayText }}</button>

        <!-- Restart the  -->
        <button class="buttons btn btn-primary" type="button" style="background-color: rgb(247, 87, 114);" (click)="resetValues()">ပြန်စရန်</button>

        <br>

        <!-- restart and output button -->
        <!-- <div class="d-grid gap-2 d-md-block">
            <button class="buttons btn btn-primary" type="button" style="background-color: rgb(247, 87, 114);" (click)="resetValues()">ပြန်စရန်</button>
        </div> -->
    </form>


    <div *ngIf="repeatedText">
        <img src="/assets/images/copy.png" alt="copy" (click)="copyText()" style="cursor: pointer;">
        <p [innerHTML]="repeatedText"></p>
    </div>
</div>
