/* nav bar */
.Background_color {
  position: absolute;
  min-height: 92%;
  width: 100%;
  padding: 20px; 
  /* background-color: rgb(255, 230, 226); */
  background-color: #C1E8FF;
  /* margin-top: 42px; */
  margin-top: 8vh;
}


/* Form */
form {
  padding: 10px;
  
}

/* YourComponent.component.css */
.form-control {
  font-size: large;
  font-weight: normal;
  width: 95%;
  height: 45px;
  margin-left: 20px;
  
}


input[type=send] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}


.button_bg {
  border-radius: 20%; /* This makes the button a circle */
  padding: 10px; /* Adjust padding as needed */
}

.button{
  padding: 15px 38%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 1px;
   /* border-color: rgb(251, 113, 136); */
  border-color: #11212D;
  margin-right: 10px;
  

  @media screen and (max-width: 600px) {
    padding: 15px 24%;; 
  }

  @media screen and (max-width: 800px) {
    padding: 15px 24%;; 
  }
}

.buttons{
  padding: 15px 8%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 5px 2px; */
   /* border-color: rgb(251, 113, 136); */
  border-color: #11212D;
  margin-right: 10px;


  @media screen and (max-width: 600px) {
    padding: 15px 2%; 
  }

}


img {
  height: 40px;
  width: 40px;
  float: right;
  align-items: center;
}


.custom-box {
  border: 1px; 
  padding: 10px; 
  margin: 10px; 
  /* background-color: rgb(255, 230, 226); */
  background-color:  #C1E8FF;

}

.inner-paragraph {
  font-size: 16px; 
  color: black; 
}
